<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162567513-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-162567513-1');
    </script>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <title>Covid-19 Predictions by William R. Speirs</title>
</head>
<body>
<div class="container mx-auto lg px-4 text-gray-800">
<h1 class="text-center text-3xl text-gray-900">Covid-19 Predictions</h1>
<h2 class="text-center text-2xl">by <a class="text-blue-700 hover:text-blue-800 underline" href="https://www.linkedin.com/in/williamspeirs/">William R. Speirs</a></h2>
<h3 class="text-center text-xl"><a class="text-blue-700 hover:text-blue-800 underline" href="/us.html">US Predictions</a></h3>
<p class="mt-6">
    <span class="font-semibold">Disclaimer:</span> Everything on this page is a prediction. I make no claims to the accuracy
    of the information.
</p>
<p class="mt-6">
    <span class="font-semibold text-red-700">Update 4/19:</span> I updated the fit algorithm <i>slightly</i> to use either
    the predicted peak date, or an actual peak date, whichever is further into the future. I also have included graphs for
    France and Germany as they appear to have peaked.
</p>
<br>
<span class="font-semibold text-xl">Predictions Over Time</span>
<table class="table-auto">
    <tr>
        <th class="text-center px-3 py-1">Prediction Date</th>
        <th class="text-center px-3 py-1">Italy</th>
        <th class="text-center px-3 py-1">Spain</th>
        <th class="text-center px-3 py-1">France</th>
        <th class="text-center px-3 py-1">Germany</th>
        <th class="text-center px-3 py-1">UK</th>
    </tr>

    {% for date, countries in predictions %}
    <tr>
        <td class="text-center px-3 py-1">{{date}}</td>
        <td class="px-3 py-1">{{countries['Italy']}}</td>
        <td class="px-3 py-1">{{countries['Spain']}}</td>
        <td class="px-3 py-1">{{countries['France']}}</td>
        <td class="px-3 py-1">{{countries['Germany']}}</td>
        <td class="px-3 py-1">{{countries['United Kingdom']}}</td>
    </tr>
    {% endfor %}
</table>
<br/>
<span class="font-semibold text-xl">Introduction</span>
<p class="mt-4">
    This is an attempt to predict the rise and fall of deaths from the covid-19 virus. I focus on deaths because
    it is the most accurate indicator/data we have on this virus. In an attempt to predict the rise and fall of deaths,
    I first looked at China as it is the only country (South Korea has seen multiple rises and falls) that has seen a
    rise and fall in deaths. There have been accusations of inaccurate data from China, but in my opinion, it is the best
    data we have at the moment. All code used to create these predications can be found on
    <a class="text-blue-700 hover:text-blue-800 underline" href="https://github.com/wspeirs/covid">GitHub</a>.
</p>
<br>
<span class="font-semibold text-xl">Assumptions</span>
<ul class="list-disc">
    <li>
        Reported deaths are not prefect; therefore, I use a 3-day moving average to smooth out these numbers a bit. Why
        3 days instead of some other number? I played around with the data and model, and a 3-day moving average was a nice
        balance between smoothing the data while not vastly distorting the original values.
    </li>
    <li>
        The <a class="text-blue-700 hover:text-blue-800 underline" href="https://www.who.int/docs/default-source/coronaviruse/who-china-joint-mission-on-covid-19-final-report.pdf">WHO</a>
        reports it takes 2 to 8 weeks to die from covid-19. The <a class="text-blue-700 hover:text-blue-800 underline" href="https://www.thelancet.com/journals/laninf/article/PIIS1473-3099(20)30257-7/fulltext">Lancet report</a>
        states that the mean duration from symptom onset to death is 17.8 days (16.9 to 19.2 95% credible interval).
        The <a class="text-blue-700 hover:text-blue-800 underline" href="https://www.insidermonkey.com/blog/hell-is-coming-here-is-the-mathematical-proof-822824/">"Hell is Coming"</a>
        report used 23 - 24 days, and had a fairly accurate prediction of 800 deaths in the US on March 26th (it was actually 1,275).
        For my predictions I've used 24 days between when a country issues a lock-down, and the peak of deaths in that country.
    </li>
    <li>
        It has been reported in numerous places that the morality rates of the virus vary greatly by age and preexisting
        conditions. I'm treating everyone in a country the same, and people across countries the same as well.
    </li>
    <li>
        "Lock-down" dates are not perfect. Lots of people do
        <a class="text-blue-700 hover:text-blue-800 underline" href="https://www.nytimes.com/2020/04/01/us/coronavirus-texas-austin-spring-break-cabo.html">not follow the orders</a>,
        and the <a class="text-blue-700 hover:text-blue-800 underline" href="https://www.nytimes.com/interactive/2020/us/coronavirus-stay-at-home-order.html">
        order that is issued makes a large difference</a> as well. Instead of trying to be too precise, I simply pick a
        single date and assume the peak will come 24 days later.
    </li>
    <li>
        Being "out-of-the-woods" as I call it, is highly subjective. I'm shooting for a date when people feel safe to
        interact with others in public. This is very much an emotional and subjective date, so any model will be inaccurate.
    </li>
</ul>
<br/>
<span class="font-semibold text-xl">China</span>
<p>
    I attempt to model when a country is "out-of-the-woods" by trying to fit half a sine wave to the number
    of deaths by day. Why a sine wave and not another function? I tried a few, and the sine wave fit pretty nicely to the
    number of deaths by day in China. Also, half a sine wave naturally fits what you would expect to see: a rise in deaths-by-day,
    followed by a fall in deaths-by-day as sheltering-in-place begins to work. Using this methodology, my model predicts
    that China "will be" out-of-the-woods on March 6th with a total of 3,180 deaths. As of March 6th China had reported
    3,044 deaths, a difference of 136. While only a single country, this <i>seems</i> to validate the use of half a sine wave
    to predict the rise and fall of deaths for the virus. The data with the fitted curve for China can be seen below:
    <img class="mx-auto" src="img/china.png" alt="China prediction"/>

</p>
<br/>
<span class="font-semibold text-xl">Italy, Spain, France, Germany, and the UK</span>
<p>
    I picked 5 countries &ndash; Italy, Spain, France, Germany, and the United Kingdom &ndash; to try and predict when they will be out-of-the-woods, and with how many deaths.
    I picked these countries because of their various lock-down dates and appearance to have peaked.
    Picking a lock-down date is difficult because they can very from area-to-area in a country, but these dates <i>seem</i> to fit the data.
    The latest predictions for each country can be found at the top of the page, and the fitted curves in the graphs below.
    <img class="mx-auto" src="img/italy.png" alt="Italy prediction"/>
    <img class="mx-auto" src="img/spain.png" alt="Spain prediction"/>
    <img class="mx-auto" src="img/france.png" alt="Spain prediction"/>
    <img class="mx-auto" src="img/germany.png" alt="Spain prediction"/>
    <img class="mx-auto" src="img/united_kingdom.png" alt="UK prediction"/>
</p>
<br/>
<span class="font-semibold text-xl">Sweden</span>
<p>
    Sweden is an interesting case in that they are openly <b>not</b> imposing a lock-down. There is much debate about if
    this makes sense or not. Time will tell. Without a lock-down date, my model does not work. So I have used the current
    date as the lock-down date for the chart below, meaning the peak will always occur 24 days from today.
    <img class="mx-auto" src="img/sweden.png" alt="Sweden prediction"/>
</p>
</div>
</body>
</html>